
/** HEADER **/
#header-nav {
    background-color: #c2c7caa2;
    border-radius: 0;
    border: 2px solid black;
  }
  
  .navbar-brand h1 { /* Restaurant name */
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #000000;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }