body {
  font-size: 16px;
  
  background-color: #aec6cf ;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
    background-color: #957DAD;
    border-radius: 0;
    border: 2px solid black;
  }
  
  .navbar-brand h1 { /* Restaurant name Food LLC */
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }

  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #000000;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  /* END NAVBAR  */

  /* main content start */
  #main-content h2 {
    font-weight: bold;
  }
 
 
  